<!DOCTYPE html>
<html>
  <head>
    <title>Arxiv Papers from Twitter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Latest Papers</h1>
      {% for day in days %}
      <h2>
        Top papers for day.day
      </h2>
        {% for paper in day.papers %}
        <div class="paper">
          <h2><a href="{{ paper.paper_link }}">{{ paper.paper_link }}</a></h2>
          <p>{{ paper.user }}</p>
          <p class="date">Views: {{ paper.views }}</p>
          <p class="author">Added: {{ paper.created_at }}</p>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>
