body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  background-color: #f6f6ef;
  color: #363636;
  margin: 0;
  padding: 0;
}

a {
  color: #363636;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 85%;
  margin: auto;
}

h1 {
  font-size: 12pt;
  margin: 10px 0;
}

h2 {
  font-size: 10pt;
  margin: 0;
}

p {
  font-size: 10pt;
  margin: 5px 0;
}

.paper {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.paper:last-child {
  border-bottom: none;
}

.author {
  font-size: 8pt;
  color: #828282;
}

.date {
  font-size: 7pt;
  color: #828282;
}
